<dga-playground [config]="playgroundConfig" [componentProps]="componentProps">
  <dga-checkbox
    [label]="componentProps.label"
    [description]="componentProps.description"
    [errorMessage]="componentProps.errorMessage"
    [(checked)]="componentProps.checked"
    [(indeterminate)]="componentProps.indeterminate"
    [disabled]="componentProps.disabled"
    [required]="componentProps.required"
    [size]="componentProps.size"
    [variant]="componentProps.variant"
    [state]="componentProps.state"
    [rtl]="componentProps.rtl">
  </dga-checkbox>
</dga-playground>
