<dga-playground [config]="playgroundConfig" [componentProps]="componentProps">
  <dga-card
    [title]="componentProps.title"
    [description]="componentProps.description"
    [primaryActionLabel]="componentProps.primaryActionLabel"
    [secondaryActionLabel]="componentProps.secondaryActionLabel"
    [imageSrc]="componentProps.imageSrc"
    [imageAlt]="componentProps.imageAlt"
    [variant]="componentProps.variant"
    [effect]="componentProps.effect"
    [state]="componentProps.state"
    [rtl]="componentProps.rtl"
    [expanded]="componentProps.expanded"
    [selected]="componentProps.selected"
  />
</dga-playground>
