<dga-playground [config]="playgroundConfig" [componentProps]="componentProps">
  <dga-card
    [title]="componentProps.title"
    [description]="componentProps.description"
    [effect]="componentProps.effect"
    [state]="componentProps.state"
    [rtl]="componentProps.rtl"
    [showImage]="componentProps.showImage"
    [showFeaturedIcon]="componentProps.showFeaturedIcon"
    [showTags]="componentProps.showTags"
    [showRating]="componentProps.showRating"
    [showPrimaryAction]="componentProps.showPrimaryAction"
    [showSecondaryAction]="componentProps.showSecondaryAction"
  />
</dga-playground>