<dga-playground [config]="playgroundConfig" [componentProps]="componentProps">
  <dga-digital-stamp
    [(opened)]="componentProps.opened"
    [device]="componentProps.device"
    [extension]="componentProps.extension"
    [message]="componentProps.message"
    [linkLabel]="componentProps.linkLabel"
    [registrationLabel]="componentProps.registrationLabel"
    [registrationNumber]="componentProps.registrationNumber"
    [registrationHref]="componentProps.registrationHref"
    [rtl]="componentProps.rtl"
    [showDomain]="componentProps.showDomain"
    [showSecurity]="componentProps.showSecurity"
    [showRegistration]="componentProps.showRegistration"
    [disabled]="componentProps.disabled">
  </dga-digital-stamp>
</dga-playground>
