<div class="table-wrapper">
  <table class="table" 
    [class.table--striped]="striped"
    [class.table--bordered]="bordered"
    [class.table--hoverable]="hoverable"
    [class.table--compact]="compact">
    <thead>
      <tr>
        @for (col of columns; track col) {
          <th>{{ col }}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (row of data; track $index) {
        <tr>
          @for (cell of row; track $index) {
            <td>{{ cell }}</td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>
