<div
  class="{{ switcherClasses.join(' ') }}"
  role="tablist"
  [attr.aria-label]="ariaLabel"
  [attr.dir]="rtl ? 'rtl' : null"
>
  @for (item of items; track item.id; let i = $index) {
    <button
      class="{{ itemClasses(item, i).join(' ') }}"
      type="button"
      role="tab"
      [disabled]="isItemDisabled(item)"
      [attr.aria-selected]="isSelected(item)"
      [attr.tabindex]="isSelected(item) ? 0 : -1"
      (click)="selectItem(item)"
      (keydown)="onItemKeydown($event, item)"
    >
      <span class="dga-content-switcher__label">{{ item.label }}</span>
    </button>
  }
</div>
