<dga-playground [config]="playgroundConfig" [componentProps]="componentProps">
  <dga-button
    [label]="componentProps.label"
    [variant]="componentProps.variant"
    [size]="componentProps.size"
    [state]="componentProps.state"
    [iconOnly]="componentProps.iconOnly"
    [leadIcon]="componentProps.leadIcon"
    [trailIcon]="componentProps.trailIcon"
    [rtl]="componentProps.rtl"
    [onColor]="componentProps.onColor"
    [destructive]="componentProps.destructive"
    [fullWidth]="componentProps.fullWidth">
  </dga-button>
</dga-playground>
