<dga-playground [config]="playgroundConfig" [componentProps]="componentProps">
  <dga-charts
    [type]="componentProps.type"
    [title]="componentProps.title"
    [height]="componentProps.height"
    [rtl]="componentProps.rtl"
    [showLegend]="componentProps.showLegend"
    [showXAxisLabel]="componentProps.showXAxisLabel"
    [showYAxisLabel]="componentProps.showYAxisLabel"
    [showSeries2]="componentProps.showSeries2"
    [showSeries3]="componentProps.showSeries3"
    [showData]="componentProps.showData">
  </dga-charts>
</dga-playground>
